.friend{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ff9001;
}
.friend_item{
    font-size: 10px;
    color: #eeeeee;
}