.app_nav{ 
    grid-area: nav;
    background-color: #424242;
    height: 100vh;
    position: fixed;
    top: 95px;
    border-radius: 5px;
  }
  .app_nav_list{
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
  }
  .app_nav__link{
    text-decoration: none;
    color: #eeeeee;
  }
  .app_nav__item{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .activeLink{
    color: #088dcd;
  }
  .friends_nav{
    text-align: center;
    margin-top: 50px;
  }
